.task-list-item {
  display: inline-block;
  margin-top: 0.5em;
  padding: 1em;
  border: 1px solid lightgrey;
  border-radius: 10px;
  background-color: white;
}

.task-list-item__text--done {
  text-decoration: line-through;
  opacity: 0.5;
}
