body {
  background-color: #F3F1EC;
}

.logo {
  vertical-align: middle;
  height: 1.5em;
  animation: App-logo-spin infinite 20s linear;
}

.header {
  display: flex;
  align-items: center;
  background-color: #AF7E68;
  padding: 1em;
  color: #492B22;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.title {
  display: inline;
  vertical-align: middle;
  font-size: 1.5em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
